@{
    ViewBag.Title = "Sobre Nosotros";
}

<div id="content-wrapper">
    <section id="about-us" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-12 fade-up">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">UN POCO SOBRE NOSOTROS</h2>
                        <hr>
                        <p>El arte está hecho para ser visto y compartido</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 fade-up">
                    <p>
                        En LMJ creemos que lo digital es una gran ventaja que da más transparencia y equidad al mercado del arte.

                        Damos a los artistas herramientas que los hacen autónomos en la gestión de su comunicación y la venta de sus obras. Diariamente, nuestro equipo dedica toda su energía a esta misión, para que artistas de todas las nacionalidades tengan la oportunidad de brillar internacionalmente.
                    </p>

                    <p>Al promover artistas de todo el mundo, también queremos permitir que los amantes del arte como nosotros y los coleccionistas más exigentes, se abran fácilmente a nuevos horizontes artísticos, sean tocados por otras culturas e inspirados por talentos que nunca habrían encontrado en otro lugar sino fuera por LMJ.</p>
                </div>
                <div class="col-md-4 fade-up">

                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1 fade-up">
                    <p>
                        <strong> ART SHOP </strong>nace para crear un puente entre artistas talentosos y gente que quiere conectar y disfrutar del arte.
                        Para dar lugar a UNA EXPERIENCIA MODIFICADORA, donde las obras tengan la oportunidad de “irrumpir creativamente”
                        en la vida de las PERSONAS para fusionarse con ellas, para modificarlas, y enriquecerlas para siempre.
                    </p>
                    <p>
                        Las personas que formamos ART SHOP sentimos que las obras de arte no nacen “sólo para algunos”.
                        Por el contrario, estamos convencidos de que las obras COBRAN VIDA para hacer eco en todos aquellos que se
                        DESCUBRAN modificados en contacto con ellas.

                    </p>
                    <p>
                        En este encuentro RADICA LA MAGIA: cuando "conectamos" con una obra que sentimos "es para nosotros".
                    </p>
                </div>
            </div> <!--/.col-md-3-->
        </div>
    </section><!--/#bottom-->
</div>