@{
    ViewBag.Title = "";
}

<div id="content-wrapper">
    <section id="contact" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-12 fade-up">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">NUESTRO CONTACTO</h2>
                        <hr>
                        <p>Nos pondremos en contacto con usted en las próximas 24 horas</p>
                    </div>

                    <h2>@ViewBag.Title</h2>

                    <p>
                        En Art Shop le damos mucha importancia a nuestros usuarios, tanto a nuestros artistas como a nuestros clientes. Es por ello que tenemos distintas vías de contacto para que puedas comunicarte con nosotros, ya sea por alguna duda que tengas sobre el funcionamiento, como también
                        para realizarnos alguna sugerencia o simplemente expresarte. Nuestro objetivo es que tengas una experiencia legendaria y creemos que la buena comunicación, en todo momento, es clave para que te sientas seguro y cómodo al registrarte, hacer un pago o realizar cualquier otra acción en nuestro sitio web.
                    </p>
                    <hr />


                    <h3> » Por teléfono, whatsapp o chat </h3>
                    <p>
                        De lunes a viernes de 9 a 18 hs. Si nuestros operadores están ocupados o fuera de horario, dejanos un mensaje con tus datos y te llamaremos a la brevedad.

                        +54 9 11 3333-9090
                    </p>
                    <hr />
                    <p>
                        <h3> » Por mail </h3>
                        Envianos un mail con tu consulta, sugerencia o comentario para que nuestro centro de atención al cliente se contacte contigo a la brevedad.

                        info@LMJ.com
                    </p>
                    <hr />

                    <p>
                        <h3> » Redes Sociales </h3> <br />
                        Enterate de las últimas novedades de Art shop.com y del Arte en Argentina. Estaremos publicando eventos, entrevistas, notas relacionadas
                        con el Arte y mucho más.
                        <br />
                        » Facebook: LMJ <br />
                        »Instagram: LMJ<br />
                    </p>

                    <address>
                        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@arshop.com</a><br />
                        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@LMJ.com</a>
                    </address>
                </div><!-- col -->
            </div><!-- row -->
        </div>
    </section>
</div>