<script type="text/javascript">
    jQuery(document).ready(function ($) {
        'use strict';
        jQuery('body').backstretch([

            "/images/bg/artes0.jpg",
            "/images/bg/artes1.jpg",
            "/images/bg/arte2.jpg",

        ], { duration: 8000, fade: 500, centeredY: true });

        $("#mapwrapper").gMap({
            controls: false,
            scrollwheel: false,
            markers: [{
                latitude: 40.7566,
                longitude: -73.9863,
                icon: {
                    image: "/images/marker.png",
                    iconsize: [44, 44],
                    iconanchor: [12, 46],
                    infowindowanchor: [12, 0]
                }
            }],
            icon: {
                image: "/images/marker.png",
                iconsize: [26, 46],
                iconanchor: [12, 46],
                infowindowanchor: [12, 0]
            },
            latitude: 40.7566,
            longitude: -73.9863,
            zoom: 14
        });
    });
</script>

<section id="main-slider" class="no-margin">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <span class="home-icon pe-7s-gleam bounce-in"></span>
                                <h2 class="boxed animation animated-item-1 fade-down">Mejor LMJ De Buenos Aires</h2>
                                <p class="boxed animation animated-item-2 fade-up">Nuestros expertos coleccionan las mejores obras de arte.</p>
                                <br>
                                <a class="btn btn-md animation bounce-in" href="#services">Conocer Más</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
</section><!--/#main-slider-->

<div id="content-wrapper">
    <section id="services" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">Su Galería de Arte en Línea</h2>
                        <hr>
                        <p>Nuestra selección para usted</p>
                    </div>
                </div>
            </div>
            <ul class="portfolio-filter fade-down center">
                <li><a class="btn btn-outlined btn-primary active" href="#" data-filter="*">Escultura</a></li>
                <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".apps">Fotografia</a></li>
                <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".nature">Obra en Papel</a></li>
                <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".design">Dibujo</a></li>
            </ul><!--/#portfolio-filter-->

            <ul class="portfolio-items col-3 isotope fade-up">
                <li class="portfolio-item apps isotope-item">
                    <div class="item-inner">
                        <img src="images/portfolio/folio01.jpg" alt="">
                        <h5>Portfolio Project</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla nature isotope-item">
                    <div class="item-inner">
                        <img src="images/portfolio/folio02.jpg" alt="">
                        <h5>Portfolio Project</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio02.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item bootstrap design isotope-item">
                    <div class="item-inner">
                        <img src="images/portfolio/folio03.jpg" alt="">
                        <h5>Portfolio Project</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio03.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla design apps isotope-item">
                    <div class="item-inner">
                        <img src="images/portfolio/folio04.jpg" alt="">
                        <h5>Portfolio Project</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio04.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla apps isotope-item">
                    <div class="item-inner">
                        <img src="images/portfolio/folio05.jpg" alt="">
                        <h5>Portfolio Project</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio05.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item wordpress nature isotope-item">
                    <div class="item-inner">
                        <img src="images/portfolio/folio06.jpg" alt="">
                        <h5>Portfolio Project</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio06.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla design apps isotope-item">
                    <div class="item-inner">
                        <img src="images/portfolio/folio07.jpg" alt="">
                        <h5>Portfolio Project</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio07.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item joomla nature isotope-item">
                    <div class="item-inner">
                        <img src="images/portfolio/folio08.jpg" alt="">
                        <h5>Portfolio Project</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio08.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li><!--/.portfolio-item-->
                <li class="portfolio-item wordpress design isotope-item">
                    <div class="item-inner">
                        <img src="images/portfolio/folio09.jpg" alt="">
                        <h5>Portfolio Project</h5>
                        <div class="overlay">
                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio09.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </li><!--/.portfolio-item-->
            </ul>
        </div>
        @*<div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <i class="fa fa-camera fa fa-md"></i>
                                    </div>
                                    <div class="media-body fade-up">
                                        <h3 class="media-heading">Photography</h3>
                                    <p>Nay middleton him admitting consulted and behaviour son household. Recurred advanced he oh together entrance speedily suitable. Ready tried gay state fat could boy its among shall.</p>
                                    </div>
                                </div>
                            </div>/.col-md-4
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <i class="fa fa-thumbs-o-up fa fa-md"></i>
                                    </div>
                                    <div class="media-body fade-up">
                                        <h3 class="media-heading">Marketing</h3>
                                    <p>Unfeeling agreeable suffering it on smallness newspaper be. So come must time no as. Do on unpleasing possession as of unreserved.</p>
                                    </div>
                                </div>
                            </div>/.col-md-4
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <i class="fa fa-ticket fa fa-md"></i>
                                    </div>
                                    <div class="media-body fade-up">
                                        <h3 class="media-heading">Event Management</h3>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                                    </div>
                                </div>
                            </div>/.col-md-4
                        </div>/.row
                        <div class="gap"></div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <i class="fa fa-star fa fa-md"></i>
                                    </div>
                                    <div class="media-body fade-up">
                                        <h3 class="media-heading">Star Gazing</h3>
                                    <p>Yet joy exquisite put sometimes enjoyment perpetual now. Behind lovers eat having length horses vanity say had its</p>
                                    </div>
                                </div>
                            </div>/.col-md-4
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <i class="fa fa-cogs fa fa-md"></i>
                                    </div>
                                    <div class="media-body fade-up">
                                        <h3 class="media-heading">Software Support</h3>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                                    </div>
                                </div>
                            </div>/.col-md-4
                            <div class="col-md-4 col-sm-6">
                                <div class="service-block">
                                    <div class="pull-left bounce-in">
                                        <i class="fa fa-google-plus fa fa-md"></i>
                                    </div>
                                    <div class="media-body fade-up">
                                        <h3 class="media-heading">SEO Services</h3>
                                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
                                    </div>
                                </div>
                            </div>/.col-md-4
                        </div>/.row
            </div>*@
        <!--<div class="gap"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap fade-down section-heading">-->
        @*<h2 class="main-title">Our Skills</h2>
            <hr>
            <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>*@
        <!--</div>
                </div>
            </div>
        </div>-->
        @*<div class="container">
            <div class="row">
                    <div class="col-md-3">
                        <div class="tile-progress tile-red bounce-in">
                            <div class="tile-header">
                                <h3>Video Editing</h3>
                                <span>Our cutting room floor is messy.</span>
                            </div>
                            <div class="tile-progressbar">
                                <span data-fill="65.5%" style="width: 65.5%;"></span>
                            </div>
                            <div class="tile-footer">
                                <h4>
                                    <span class="pct-counter counter">65.5</span>%
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tile-progress tile-cyan bounce-in">
                            <div class="tile-header">
                                <h3>Marketing</h3>
                                <span>How well we can sell you and your brand.</span>
                            </div>
                            <div class="tile-progressbar">
                                <span data-fill="98.5%" style="width: 98.5%;"></span>
                            </div>
                            <div class="tile-footer">
                                <h4>
                                    <span class="pct-counter counter">98.5</span>%
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tile-progress tile-primary bounce-in">
                            <div class="tile-header">
                                <h3>Web Development</h3>
                                <span>We love servers and stuff.</span>
                            </div>
                            <div class="tile-progressbar">
                                <span data-fill="90%" style="width: 90%;"></span>
                            </div>
                            <div class="tile-footer">
                                <h4>
                                    <span class="pct-counter counter">90</span>%
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="tile-progress tile-pink bounce-in">
                            <div class="tile-header">
                                <h3>Coffee</h3>
                                <span>We done make good joe, though.</span>
                            </div>
                            <div class="tile-progressbar">
                                <span data-fill="10%" style="width: 10%;"></span>
                            </div>
                            <div class="tile-footer">
                                <h4>
                                    <span class="pct-counter counter">10</span>%
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>/.row
                <div class="gap"></div>
            </div>*@
    </section>


    <section id="single-quote" class="divider-section">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class='col-md-offset-2 col-md-8 fade-up'>
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">

                                        </div>
                                        <div class="col-sm-9">

                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
        </div>
    </section>

    <section id="about-us" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">UN POCO SOBRE NOSOTROS</h2>
                        <hr>
                        <p>El arte está hecho para ser visto y compartido</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 fade-up">
                    <p>
                        En LMJ creemos que lo digital es una gran ventaja que da más transparencia y equidad al mercado del arte.

                        Damos a los artistas herramientas que los hacen autónomos en la gestión de su comunicación y la venta de sus obras. Diariamente, nuestro equipo dedica toda su energía a esta misión, para que artistas de todas las nacionalidades tengan la oportunidad de brillar internacionalmente.
                    </p>

                    <p>Al promover artistas de todo el mundo, también queremos permitir que los amantes del arte como nosotros y los coleccionistas más exigentes, se abran fácilmente a nuevos horizontes artísticos, sean tocados por otras culturas e inspirados por talentos que nunca habrían encontrado en otro lugar sino fuera por LMJ.</p>
                </div>
                <div class="col-md-4 fade-up">

                </div>
            </div>

            @*SECCION DE ARTISTAS-------------------------------------------------------------------*@
            <div class="container">
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="center gap fade-down section-heading">
                            <h2 class="main-title">NUESTROS ARTISTAS EN LINEA</h2>
                            <hr>

                        </div>
                    </div>
                </div>

                <div class="gap"></div>
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title"></h2>
                </div>
                <div class="gap"></div>

                <div id="meet-the-team" class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="center team-member">
                            <div class="team-image">
                                <img class="img-responsive img-thumbnail bounce-in" src="images/Artistas/MonikaWaraxa.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="images/Artistas/MonikaWaraxa.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="team-content fade-up">
                                <h5>MONIKA WARAXA<small class="role muted">Pintor Polonia</small></h5>
                                <p>Es una artista visual, educadora y escritora radicada en Beijing. Tiene una Maestría en Pintura de la Academia de Bellas Artes de Varsovia.</p>
                                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="center team-member">
                            <div class="team-image">
                                <img class="img-responsive img-thumbnail bounce-in" src="images/Artistas/SylvieFage.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="images/Artistas/SylvieFage.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="team-content fade-up">
                                <h5>SYLVIE FAGE<small class="role muted">ESCULTORA FRANCIA</small></h5>
                                <p>Nació en 1956 - Exposicion Local - Estrella Local</p>
                                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center team-member">
                            <div class="team-image">
                                <img class="img-responsive img-thumbnail bounce-in" src="images/Artistas/Yampier Sardina.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="images/Artistas/Yampier Sardina.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="team-content fade-up">
                                <h5>YAMPIER SARDINA<small class="role muted">PINTOR EE.UU</small></h5>
                                <p>Nació en 1979 - Exposición internacional - Artista experimentado y Trabaja en colecciones privadas en todo el mundo.</p>
                                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center team-member">
                            <div class="team-image">
                                <img class="img-responsive img-thumbnail bounce-in" src="images/Artistas/GustavoLoza.jpg" alt="">
                                <div class="overlay">
                                    <a class="preview btn btn-outlined btn-primary" href="images/Artistas/GustavoLoza.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                </div>
                            </div>
                            <div class="team-content fade-up">
                                <h5>GUSTAVO LOZA<small class="role muted">Pintor EE.UU</small></h5>
                                <p>Nació en 1960 - Exposición nacional y Participante en Feria de Arte</p>
                                <a class="btn btn-social btn-facebook" href="#"><i class="fa fa-facebook"></i></a> <a class="btn btn-social btn-google-plus" href="#"><i class="fa fa-google-plus"></i></a> <a class="btn btn-social btn-twitter" href="#"><i class="fa fa-twitter"></i></a> <a class="btn btn-social btn-linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div><!--/#meet-the-team-->
                <div class="gap"></div>
                <div class="gap"></div>
            </div>
    </section>

    @*<section id="stats" class="divider-section">
            <div class="gap"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="center bounce-in">
                            <span class="stat-icon"><span class="pe-7s-timer bounce-in"></span></span>
                            <h1><span class="counter">246000</span></h1>
                            <h3>HOURS SAVED</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center bounce-in">
                            <span class="stat-icon"><span class="pe-7s-light bounce-in"></span></span>
                            <h1><span class="counter">16875</span></h1>
                            <h3>FRESH IDEAS</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center bounce-in">
                            <span class="stat-icon"><span class="pe-7s-graph1 bounce-in"></span></span>
                            <h1><span class="counter">99999999</span></h1>
                            <h3>HUGE PROFIT</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="center bounce-in">
                            <span class="stat-icon"><span class="pe-7s-box2 bounce-in"></span></span>
                            <h1><span class="counter">54875</span></h1>
                            <h3>THINGS IN BOXES</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
        </section>*@

    @*<section id="portfolio" class="white">
                    <div class="container">
                        <div class="gap"></div>
                            <div class="center gap fade-down section-heading">
                                <h2 class="main-title">Examples Of Excellence</h2>
                                <hr>
                                <p>She evil face fine calm have now. Separate screened he outweigh of distance landlord.</p>
                            </div>
        <ul class="portfolio-filter fade-down center">
                                <li><a class="btn btn-outlined btn-primary active" href="#" data-filter="*">All</a></li>
                                <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".apps">Apps</a></li>
                                <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".nature">Nature</a></li>
                                <li><a class="btn btn-outlined btn-primary" href="#" data-filter=".design">Design</a></li>
                            </ul>/#portfolio-filter

                            <ul class="portfolio-items col-3 isotope fade-up">
                                <li class="portfolio-item apps isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio01.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio01.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item joomla nature isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio02.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio02.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item bootstrap design isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio03.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio03.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item joomla design apps isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio04.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio04.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item joomla apps isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio05.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio05.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item wordpress nature isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio06.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio06.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item joomla design apps isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio07.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio07.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item joomla nature isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio08.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio08.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                                <li class="portfolio-item wordpress design isotope-item">
                                    <div class="item-inner">
                                        <img src="images/portfolio/folio09.jpg" alt="">
                                        <h5>Portfolio Project</h5>
                                        <div class="overlay">
                                            <a class="preview btn btn-outlined btn-primary" href="images/portfolio/folio09.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div>
                                </li>/.portfolio-item
                            </ul>
                        </div>
                    </section>*@

    <section id="testimonial-carousel" class="divider-section">
        <div class="gap"></div>
        <div class="container">
            <div class="row">
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">ARTE DESTACADO DE LA SEMANA</h2>
                    <hr>
                    <p>Encuentre en LMJ su obra de arte preferida.</p>
                    <div class="gap"></div>
                </div>
                <div class='col-md-offset-2 col-md-8 fade-up'>
                    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                        <!-- Bottom Carousel Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#quote-carousel" data-slide-to="1"></li>
                            <li data-target="#quote-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel Slides / Quotes -->
                        <div class="carousel-inner">
                            <!-- Quote 1 -->
                            <div class="item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-responsive" src="images/team/ObraArte1.jpg" style="width: 100px;height:100px;">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>Desde la 'Noche estrellada sobre el Ródano' de Vincent van Gogh, pasando por los 'Nenúfares' de Monet y terminando en el 'En el Lapin Agile' de Pablo Picasso. Recorremos los 13 lugares reales que han inspirado famosas obras de arte.</p>
                                            <small>Vincent van Gogh</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 2 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-responsive" src="images/team/ObraArte2.jpg" style="width: 100px;height:100px;">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>La Persistencia de la Memoria - Reconocido como una obra maestra del surrealismo por su atmósfera onírica representada por relojes que se derriten en medio del desierto. Alude al tiempo y a la medida de una eternidad que parece no conocer la humanidad. La inquietante creatura que se encuentra sobre la arena dibuja un perfil que probablemente es el del autor, Dalí, quien parece dormir y soñar toda la escena. Se exhibe en el Museo de Arte Moderno de Nueva York.</p>
                                            <small>Salvador Dalí</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- Quote 3 -->
                            <div class="item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-sm-3 text-center">
                                            <img class="img-responsive" src="images/team/ObraArte3.jpg" style="width: 100px;height:100px;">
                                        </div>
                                        <div class="col-sm-9">
                                            <p>La Rueda de Bicicleta es el primer ready – made de Marcel Duchamp, toda una serie de objetos que creó para desafiar las suposiciones que constituyen una obra de arte. En este ready – made Duchamp combina dos piezas de producción masiva, una rueda de bicicleta y un taburete, para crear una máquina sin funcionalidad alguna. Con esto en mente, Duchamp continuó seleccionando objetos prefabricados y llamándolos arte, acciones que cambiaron la experiencia del espectador y la óptica de lo que es el arte. Actualmente se exhibe en el Museo de Arte Moderno de Nueva York.</p>
                                            <small>Marcel Duchamp</small>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
        </div>
    </section>

    <section id="blog" class="white">
        <div class="container">
            <div class="center gap fade-down section-heading">
                <div class="gap"></div>
                <h2 class="main-title">From The Blog</h2>
                <hr>
                <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
            </div>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="images/portfolio/folio02.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">Post Title</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="images/portfolio/folio06.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">Post Title</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="images/portfolio/folio11.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">Post Title</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="images/portfolio/folio02.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">Post Title</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="images/portfolio/folio06.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">Post Title</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="post">
                        <div class="post-img-content">
                            <img src="images/portfolio/folio11.jpg" class="img-responsive" />
                            <div class="overlay">
                                <a class="preview btn btn-outlined btn-primary" href="#"><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="content">
                            <h2 class="post-title">Post Title</h2>
                            <div class="author">
                                <i class="fa fa-user"></i> By <b>Author</b> | <i class="fa fa-clock-o"></i> <time datetime="2014-01-20">April 11th, 2014</time>
                            </div>
                            <div>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </div>
                            <div class="read-more-wrapper">
                                <a href="#" class="btn btn-outlined btn-primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<section id="pricing" class="white">
            <div class="container">
                <div class="center gap fade-down section-heading">
                    <h2 class="main-title">So, How Much?</h2>
                    <hr>
                    <p>Of an or game gate west face shed. ﻿no great but music too old found arose.</p>
                </div>
                <div class="gap"></div>
                <div id="pricing-table" class="row">
                    <div class="col-md-3 col-xs-6 flip-in">
                        <ul class="plan plan1">
                            <li class="plan-name">
                                <h3>Basic</h3>
                            </li>
                            <li class="plan-price">
                                <div>
                                    <span class="price"><sup>$</sup>10</span>
                                    <small>month</small>
                                </div>
                            </li>
                            <li>
                                <strong>5GB</strong> Storage
                            </li>
                            <li>
                                <strong>1GB</strong> RAM
                            </li>
                            <li>
                                <strong>400GB</strong> Bandwidth
                            </li>
                            <li>
                                <strong>10</strong> Email Address
                            </li>
                            <li>
                                <strong>Forum</strong> Support
                            </li>
                            <li class="plan-action">
                                <a href="#" class="btn btn-outlined btn-primary btn-md btn-white">Signup</a>
                            </li>
                        </ul>
                    </div>/.col-md-3
                    <div class="col-md-3 col-xs-6 flip-in">
                        <ul class="plan plan2 featured">
                            <li class="plan-name">
                                <h3>Standard</h3>
                            </li>
                            <li class="plan-price">
                                <div>
                                    <span class="price"><sup>$</sup>20</span>
                                    <small>month</small>
                                </div>
                            </li>
                            <li>
                                <strong>5GB</strong> Storage
                            </li>
                            <li>
                                <strong>1GB</strong> RAM
                            </li>
                            <li>
                                <strong>400GB</strong> Bandwidth
                            </li>
                            <li>
                                <strong>10</strong> Email Address
                            </li>
                            <li>
                                <strong>Forum</strong> Support
                            </li>
                            <li class="plan-action">
                                <a href="#" class="btn btn-outlined btn-primary btn-md">Signup</a>
                            </li>
                        </ul>
                    </div>/.col-md-3
                    <div class="col-md-3 col-xs-6 flip-in">
                        <ul class="plan plan3">
                            <li class="plan-name">
                                <h3>Advanced</h3>
                            </li>
                            <li class="plan-price">
                                <div>
                                    <span class="price"><sup>$</sup>40</span>
                                    <small>month</small>
                                </div>
                            </li>
                            <li>
                                <strong>50GB</strong> Storage
                            </li>
                            <li>
                                <strong>8GB</strong> RAM
                            </li>
                            <li>
                                <strong>1024GB</strong> Bandwidth
                            </li>
                            <li>
                                <strong>Unlimited</strong> Email Address
                            </li>
                            <li>
                                <strong>Forum</strong> Support
                            </li>
                            <li class="plan-action">
                                <a href="#" class="btn btn-outlined btn-primary btn-md btn-white">Signup</a>
                            </li>
                        </ul>
                    </div>/.col-md-3
                    <div class="col-md-3 col-xs-6 flip-in">
                        <ul class="plan plan4">
                            <li class="plan-name">
                                <h3>Mighty</h3>
                            </li>
                            <li class="plan-price">
                                <div>
                                    <span class="price"><sup>$</sup>100</span>
                                    <small>month</small>
                                </div>
                            </li>
                            <li>
                                <strong>50GB</strong> Storage
                            </li>
                            <li>
                                <strong>8GB</strong> RAM
                            </li>
                            <li>
                                <strong>1024GB</strong> Bandwidth
                            </li>
                            <li>
                                <strong>Unlimited</strong> Email Address
                            </li>
                            <li>
                                <strong>Forum</strong> Support
                            </li>
                            <li class="plan-action">
                                <a href="#" class="btn btn-outlined btn-primary btn-md btn-white">Signup</a>
                            </li>
                        </ul>
                    </div>/.col-md-3
                </div>
                <div class="gap"></div>
            </div>
        </section>*@


    <section id="contact" class="white">
        <div class="container">
            <div class="gap"></div>
            <div class="center gap fade-down section-heading">
                <h2 class="main-title">PONGASE EN CONTACTO</h2>
                <hr>
                <p>Sea cual sea su consulta, estamos aqui para responderla</p>
            </div>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-4 fade-up">
                    <h3>Informacion De Contacto</h3>
                    <p>
                        <span class="icon icon-phone"></span>+5411 3681 1985<br />
                        <span class="icon icon-envelop"></span> <a href="#">email@equipo2.com</a> <br />
                        <span class="icon icon-facebook"></span> <a href="#">LMJ </a> <br />
                    </p>
                </div><!-- col -->

                <div class="col-md-8 fade-up">
                    <h3>Dejenos su mensaje</h3>
                    <br>
                    <br>
                    <div id="message"></div>

                    <form method="post" action="sendemail.php" id="contactform">
                        <div>
                        <input type="text" name="name" id="name" placeholder="Nombre" />
                        <input type="text" name="email" id="email" placeholder="Email" />
                        <input type="text" name="website" id="website" placeholder="Articulo de interes" />
                        <textarea name="comments" id="comments" placeholder="Comentarios"></textarea>
                        <input class="btn btn-outlined btn-primary" type="submit" name="submit" value="Submit" />
                    
                        </div>
                    
                    </form>
                </div><!-- col -->
            </div><!-- row -->
            <div class="gap"></div>
        </div>
    </section>
</div>
